<table class="m_-5261627408499984135gmail-MsoNormalTable" border="1" cellspacing="0" cellpadding="0" width="539" style="border-collapse:collapse;border:none">
 <tbody><tr>
  <td width="1" valign="top" style="width:1pt;border:none;padding:0cm">
  <p class="MsoNormal"><span lang="ES-TRAD">&nbsp;</span></p>
  </td>
  <td width="538" valign="top" style="width:538pt;border:none;padding:0cm">
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">¡Om
  Namaha Shivaya!</span></b><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Querido
  Iniciado, recibe un Saludo en Luz!&nbsp;</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Quedan
  pocos días para que comiencen las actividades de Julio. El Ashram Caminantes
  del Amanecer nos abre sus puertas y nos ofrenda sus hermosos espacios de Luz
  para el trabajo de Alma propuesto con la Madre Shaktiananda en el <b>Paso de Nivel 6</b>, el <b>Encuentro A</b></span><b>-Gen-Te Babaji</b> y el <b>Workshop
  con Russill Paul.</b> <span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">En
  esta oportunidad, queremos acercarte</span><span lang="ES-TRAD"> información
  necesaria para la acreditación, así como detalles importantes que debes tomar
  en cuenta para tu estadía.&nbsp;</span></p><p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"><i><br></i></span></p><p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"><i>Nota: Programas sujetos a modificaciones.&nbsp;</i><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span></p>
  <p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)">I. PASO DE NIVEL 6 <span></span></span></u></b></p>
  <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">Nota: Los participantes con participación múltiple
  que incluya el Paso de Nivel deben realizar su acreditación completa este
  día.&nbsp; </span></i><i><span lang="ES-TRAD"><span></span></span></i></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal"><b><u><span lang="ES-TRAD">Programa Viernes 7 de Julio</span></u></b><b><span lang="ES-TRAD">: </span></b><span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">Morada
  del Colibrí&nbsp;</span></b><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">10AM</span></b><b><span lang="ES-TRAD"><span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Checkout
  de los huéspedes que <u>NO</u> se hospedarán en la Morada del Colibrí durante
  el encuentro.</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">12PM-2PM<span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Checkin
  de los huéspedes que se hospedan en la Morada del Colibrí durante el
  encuentro. <span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Acreditaciones.</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"><u>Llenar
  el formulario de inscripción</u> en el siguiente enlace: <span><%= link_to "Formulario de inscripción", auto_edit_guest_url({id: @guest.id, auth_token: @auth_token}) %>.</span></span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"><u>Firmar
  la carta de responsabilidad </u>(pdf adjunto).</span><span lang="ES-TRAD"> </span><span lang="ES-TRAD">Presentar
  al momento de la acreditación. &nbsp;</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">Nota: los huéspedes del Ashram deben
  entregar su equipaje durante las acreditaciones. El equipaje sube al Ashram
  antes y estará dispuesto es sus habitaciones. &nbsp;<span></span></span></i></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">5PM <span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Reunión
  informativa <span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">6PM <span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Darshan<span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">8PM<span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Salida
  de los huéspedes que se alojarán en el Ashram Caminantes del Amanecer.</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Descanso
  para los huéspedes de la Morada.<span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">Nota: la cena no esta incluida. Tienen la
  opción de procurársela por cuenta propia previo a la subida al Ashram o
  adquirir algún refrigerio en la Fonda Lakshmi.</span></i><i><span lang="ES-TRAD"><span></span></span></i></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">Ashram
  Caminantes del Amanecer</span></b><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">9PM</span></b><b><span lang="ES-TRAD"><span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Recepción
  de los huéspedes del Ashram. <span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span></p>
  <p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)"><br></span></u></b></p><p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)">II. A-GEN-TE BABAJI&nbsp;</span></u></b></p>
  <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">Nota: Los participantes con participación doble
  en A-Gen-Te Babaji y Workshop con Russill Paul deben realizar su acreditación
  completa este día.&nbsp; </span></i><i><span lang="ES-TRAD"><span></span></span></i></p>
  <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">&nbsp;</span></i></p>
  <p class="MsoNormal"><b><u><span lang="ES-TRAD">Programa Lunes 10 de Julio</span></u></b><b><span lang="ES-TRAD">: <span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">Morada
  del Colibrí&nbsp;</span></b><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">10AM</span></b><b><span lang="ES-TRAD"><span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Checkout
  de los huéspedes que <u>NO</u> se hospedarán en la Morada del Colibrí durante
  el encuentro.</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">12PM-2PM<span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Checkin
  de los huéspedes que se hospedan en la Morada del Colibrí durante el
  encuentro. <span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Acreditaciones.</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"><u>Llenar
  el formulario de inscripción</u> en el siguiente enlace: <span><%= link_to "Formulario de inscripción", auto_edit_guest_url({id: @guest.id, auth_token: @auth_token}) %>.</span></span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"><u>Firmar
  la carta de responsabilidad</u> (pdf adjunto).</span><span lang="ES-TRAD"> </span><span lang="ES-TRAD">Presentar
  al momento de la acreditación. &nbsp;</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">Nota: los huéspedes del Ashram deben
  entregar su equipaje durante las acreditaciones. El equipaje sube al Ashram
  antes y estará dispuesto es sus habitaciones. &nbsp;<span></span></span></i></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">5PM </span></b><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Reunión
  informativa.<span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">6:30PM <span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Abishek<span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">8PM<span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Salida
  de los huéspedes que se alojarán en el Ashram Caminantes del Amanecer.</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Descanso
  para los huéspedes de la Morada.<span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">Nota: la cena no esta incluida. Tienen la
  opción de procurársela por cuenta propia previo a la subida al Ashram o
  adquirir algún refrigerio en la Fonda Lakshmi.</span></i><i><span lang="ES-TRAD"><span></span></span></i></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">Ashram
  Caminantes del Amanecer</span></b><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">9PM</span></b><b><span lang="ES-TRAD"><span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Recepción
  de los huéspedes del Ashram. <span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span></p>
  <p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)"><br></span></u></b></p><p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)">III. WORKSHOP RUSSILL PAUL</span></u></b></p>
  <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">Nota: Solo participantes que vengan como
  única actividad al workshop. </span></i><i><span lang="ES-TRAD"><span></span></span></i></p>
  <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">&nbsp;</span></i></p>
  <p class="MsoNormal"><b><u><span lang="ES-TRAD">Programa Viernes 14 de Julio</span></u></b><b><span lang="ES-TRAD">: <span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">Morada
  del Colibrí&nbsp;</span></b><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">10AM</span></b><b><span lang="ES-TRAD"><span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Checkout
  de los huéspedes que <u>NO</u> se hospedarán en la Morada del Colibrí durante
  el encuentro.</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">12PM-2PM<span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Checkin
  de los huéspedes que se hospedan en la Morada del Colibrí durante el
  encuentro. <span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Acreditaciones.</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"><u>Llenar
  el formulario de inscripción</u> en el siguiente enlace: <span><%= link_to "Formulario de inscripción", auto_edit_guest_url({id: @guest.id, auth_token: @auth_token}) %>.</span></span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"><u>Firmar
  la carta de responsabilidad</u> (pdf adjunto).</span><span lang="ES-TRAD"> </span><span lang="ES-TRAD">Presentar
  al momento de la acreditación. &nbsp;</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">Nota: los huéspedes del Ashram deben
  entregar su equipaje durante las acreditaciones. El equipaje sube al Ashram
  antes y estará dispuesto es sus habitaciones. &nbsp;<span></span></span></i></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">5PM </span></b><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Reunión
  informativa.<span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">Cuenca<span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">7-9</span></b><b>:30</b><b><span lang="ES-TRAD">PM <span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Taller
  con Russill Paul abierto al público. <span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">9:30PM <span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Salida
  de los huéspedes que se alojarán en el Ashram Caminantes del Amanecer. </span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Descanso
  para los huéspedes de la Morada.<span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">Nota: la cena no esta incluida. Tienen la
  opción de procurársela por cuenta propia previo a la subida al Ashram o
  adquirir algún refrigerio en la Fonda Lakshmi.</span></i><i><span lang="ES-TRAD"><span></span></span></i></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">Ashram
  Caminantes del Amanecer</span></b><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">10PM</span></b><b><span lang="ES-TRAD"><span></span></span></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Recepción
  de los huéspedes del Ashram. <span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span></p>
  <p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)">IV. INFORMACION ADICIONAL:</span></u></b><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)"><span></span></span></u></b></p>
  <p class="m_-5261627408499984135gmail-MsoListParagraphCxSpFirst" style="text-align:justify"><span lang="ES-TRAD">-<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="ES-TRAD">El
  hospedaje en los espacios de la escuela contempla un depósito al momento de
  la acreditación de USD $20.00 (reembolsable al final del encuentro) en orden
  de resguardar las instalaciones de daños inesperados.&nbsp; <span></span></span></p>
  <p class="m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle" style="text-align:justify"><span lang="ES-TRAD">-<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="ES-TRAD">Tener
  presente que no se van a suministrar toallas para uso de los huéspedes
  durante las actividades. Por esta razón, es importante que la traigas
  contigo. <span></span></span></p>
  <p class="m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle" style="text-align:justify"><span lang="ES-TRAD">-<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><b><span lang="ES-TRAD">La noche del 10 de Julio</span></b><span lang="ES-TRAD"> esta
  incluida para los participantes con participación múltiple tanto en la Morada
  del Colibrí como en el Ashram. La alimentación durante este día NO esta
  incluida. Los huéspedes del Ashram tienen la opción de permanecer el día en
  el Ashram o bajar a Cuenca y retornar en la noche. <b>Deben informarnos su deseo al momento de la acreditación.</b>&nbsp; La Fonda Lakshmi contará con algunas
  opciones de comida este día. <span></span></span></p>
  <p class="m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle" style="text-align:justify"><span lang="ES-TRAD">-<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><b><span lang="ES-TRAD">La noche del 14 de Julio</span></b><span lang="ES-TRAD"> esta
  incluida para los participantes con participación múltiple tanto en la Morada
  del Colibrí como en el Ashram. La alimentación durante este día NO esta
  incluida. Solo para los huéspedes del
  Ashram esta incluido el desayuno. Todos los huéspedes deben prepararse para
  bajar a Cuenca en el transporte de la mañana ya que las actividades con
  Russill Paul comienzan en la ciudad esa tarde. &nbsp;<span></span></span></p>
  <p class="m_-5261627408499984135gmail-MsoListParagraphCxSpLast" style="text-align:justify"><span lang="ES-TRAD">-<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="ES-TRAD">Sugerimos
  la posibilidad de optar por un seguro médico de viaje que los cubra durante
  los días de las actividades. Si bien esto no es un requisito obligatorio para
  su participación, no es menos importante considerarlo como una opción. <span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span></p>
  <p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)">V. SUGERENCIAS PREVIAS</span></u></b></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Te acercamos una lista con todo lo que necesitas
  para tu participación:</span></p>
  <p class="m_-5261627408499984135gmail-MsoListParagraphCxSpFirst"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Tu&nbsp;disposición de Amor y apertura de&nbsp;consciencia.<span></span></span></p>
  <p class="m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">La&nbsp;determinación&nbsp;y la voluntad para realizar las actividades
  que se contemplan para ti.<span></span></span></p>
  <p class="m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Ropa de abrigo e impermeable.<span></span></span></p>
  <p class="m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Ropa blanca para ceremonias (al menos dos juegos por actividad).<span></span></span></p>
  <p class="m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Zapatos cómodos de diario.<span></span></span></p>
  <p class="m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Zapatos para paseo de montaña.<span></span></span></p>
  <p class="m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Mat de yoga (<i>opcional</i>).&nbsp;<span></span></span></p>
  <p class="m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Protector solar.<span></span></span></p>
  <p class="m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Linterna.<span></span></span></p>
  <p class="m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Artículos&nbsp;de higiene y medicamentos personales. <span></span></span></p>
  <p class="m_-5261627408499984135gmail-MsoListParagraphCxSpLast"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Toalla de uso personal.&nbsp;<span></span></span></p>
  <p class="MsoNormal"><i><span lang="ES-TRAD">&nbsp;</span></i></p>
  <p class="MsoNormal"><i><span lang="ES-TRAD" style="color:rgb(26,26,26)">Nota: el Ashram dispone de la fonda
  Lakhsmi en donde&nbsp;podrás&nbsp;disponer de bebidas y refrigerios
  adicionales, así como souvenirs y objetos utilitarios.</span></i><span lang="ES-TRAD" style="color:rgb(26,26,26)"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)"><br></span></u></b></p><p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)"><br></span></u></b></p><p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)">VI. INFORMACION DE
  CONTACTO Y LUGAR DE RECEPCION</span></u></b><b><u><span lang="ES-TRAD"> </span></u></b><span lang="ES-TRAD">(de uso exclusivo para Iniciados y participantes
  del evento)&nbsp;</span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Morada
  del Colibrí</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Dirección:
  Av. Paucarbamaba 2-24 y Manuel J. Calle, Cuenca.</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Teléfono:
  <a href="tel:+593%207-281-0132" value="+59372810132" target="_blank">+59 3 7 2810132</a> </span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Cualquier
  duda o comentario, no dudes en escribirnos.</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span><span lang="ES-TRAD"><span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Que
  tu viaje hacia estas montañas sea auspicioso. <span></span></span></p><p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"><br></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">¡Te
  estamos esperando!<span></span></span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span></p>
  <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span></p>
  <p class="MsoNormal" style="text-align:justify"><br></p></td></tr></tbody></table>