<table class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoNormalTable" width="539" cellspacing="0" cellpadding="0" border="1" style="font-size:13px;border-collapse:collapse;border:medium none currentcolor">
    <tbody>
        <tr>
            <td width="1" valign="top" style="border-collapse:collapse;border:medium none currentcolor;padding:0cm;width:1pt">
                <p class="MsoNormal">
                    <br>
                </p>
            </td>
            <td width="538" valign="top" style="border-collapse:collapse;border:medium none currentcolor;padding:0cm;width:538pt"><span class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-"><p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">¡Om Namaha Shivaya!</span>
                </b>
                <br>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Querido Iniciado, recibe un Saludo en Luz!&nbsp;</span><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span><span lang="ES-TRAD"></span>
                </p>
                </span>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Quedan pocos días para que comiencen las actividades de Julio. El Ashram Caminantes del Amanecer nos abre sus puertas y nos ofrenda sus hermosos espacios de Luz para el trabajo de Alma propuesto con la Madre Shaktiananda en el&nbsp;<b>Paso de Nivel 6</b>, el&nbsp;<b>Encuentro A</b></span><b>-Gen-Te Babaji</b>&nbsp;y el&nbsp;<b>Workshop con Russill Paul.</b>
                </p><span class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-"><p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">En esta oportunidad, queremos acercarte</span><span lang="ES-TRAD">&nbsp;información necesaria para la acreditación, así como detalles importantes que debes tomar en cuenta para tu estadía.&nbsp;<br></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"><br></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"></span>
                </p>
                <div class="gmail_default" style="font-family:tahoma,sans-serif;display:inline">​<span lang="ES-TRAD"><u><div class="gmail_default" style="display:inline">​</div>Llenar el formulario de inscripción</u>&nbsp;en el siguiente enlace: <%= link_to "Formulario de inscripción", auto_edit_guest_url({id: @guest.id, auth_token: @auth_token}) %></span>​</div>
                <br>
                <div class="gmail_default" style="font-family:tahoma,sans-serif;display:inline">​<span class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-"><span lang="ES-TRAD"><u><div class="gmail_default" style="display:inline">​</div>Firmar la carta de responsabilidad&nbsp;</u>(pdf adjunto).</span><span lang="ES-TRAD">&nbsp;</span><span lang="ES-TRAD">Presentar al momento de la acreditación.</span></span>​</div>
                <br>
                </span>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"><i><br></i></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"><i>Nota: Programas sujetos a modificaciones.&nbsp;</i></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)">I. PASO DE NIVEL 6&nbsp;</span></u></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">Nota: Los participantes con participación múltiple que incluya el Paso de Nivel deben realizar su acreditación completa este día.&nbsp;&nbsp;</span></i><i><span lang="ES-TRAD"></span></i>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal"><b><u><span lang="ES-TRAD">Programa Viernes 7 de Julio</span></u></b><b><span lang="ES-TRAD">:&nbsp;</span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">Morada del Colibrí&nbsp;</span></b><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">10AM</span></b><b><span lang="ES-TRAD"></span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Checkout de los huéspedes que&nbsp;<u>NO</u>&nbsp;se hospedarán en la Morada del Colibrí durante el encuentro.</span><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">12PM-2PM</span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Checkin de los huéspedes que se hospedan en la Morada del Colibrí durante el encuentro.&nbsp;</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Acreditaciones.</span>
                </p>
                <div class="gmail_default" style="font-family:tahoma,sans-serif;display:inline">​</div><i><span lang="ES-TRAD">Nota: los huéspedes del Ashram deben entregar su equipaje durante las acreditaciones. El equipaje sube al Ashram antes y estará dispuesto es sus habitaciones. &nbsp;<br></span></i><b style="text-align:justify"><span lang="ES-TRAD">5PM&nbsp;</span></b>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Reunión informativa&nbsp;</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">6PM&nbsp;</span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Darshan</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">8PM</span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Salida de los huéspedes que se alojarán en el Ashram Caminantes del Amanecer.</span><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Descanso para los huéspedes de la Morada.</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">Nota: la cena no esta incluida. Tienen la opción de procurársela por cuenta propia previo a la subida al Ashram o adquirir algún refrigerio en la Fonda Lakshmi.</span></i><i><span lang="ES-TRAD"></span></i>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">Ashram Caminantes del Amanecer</span></b><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">9PM</span></b><b><span lang="ES-TRAD"></span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Recepción de los huéspedes del Ashram.&nbsp;</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)"><br></span></u></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)">II. A-GEN-TE BABAJI&nbsp;</span></u></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">Nota: Los participantes con participación doble en A-Gen-Te Babaji y Workshop con Russill Paul deben realizar su acreditación completa este día.&nbsp;&nbsp;</span></i><i><span lang="ES-TRAD"></span></i>
                </p>
                <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">&nbsp;</span></i>
                </p>
                <p class="MsoNormal"><b><u><span lang="ES-TRAD">Programa Lunes 10 de Julio</span></u></b><b><span lang="ES-TRAD">:&nbsp;</span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">Morada del Colibrí&nbsp;</span></b><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">10AM</span></b><b><span lang="ES-TRAD"></span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Checkout de los huéspedes que&nbsp;<u>NO</u>&nbsp;se hospedarán en la Morada del Colibrí durante el encuentro.</span><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">12PM-2PM</span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Checkin de los huéspedes que se hospedan en la Morada del Colibrí durante el encuentro.&nbsp;</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Acreditaciones.</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"><i><span lang="ES-TRAD">Nota: los huéspedes del Ashram deben entregar su equipaje durante las acreditaciones. El equipaje sube al Ashram antes y estará dispuesto es sus habitaciones. &nbsp;</span>
                    </i>
                    <br>
                    </span>
                </p><span class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-"><p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">5PM&nbsp;</span>
                </b><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Reunión informativa.</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">6:30PM&nbsp;</span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Abishek</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">8PM</span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Salida de los huéspedes que se alojarán en el Ashram Caminantes del Amanecer.</span><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Descanso para los huéspedes de la Morada.</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">Nota: la cena no esta incluida. Tienen la opción de procurársela por cuenta propia previo a la subida al Ashram o adquirir algún refrigerio en la Fonda Lakshmi.</span></i><i><span lang="ES-TRAD"></span></i>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">Ashram Caminantes del Amanecer</span></b><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">9PM</span></b><b><span lang="ES-TRAD"></span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Recepción de los huéspedes del Ashram.&nbsp;</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)"><br></span></u></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)">III. WORKSHOP RUSSILL PAUL</span></u></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">Nota: Solo participantes que vengan como única actividad al workshop.&nbsp;</span></i><i><span lang="ES-TRAD"></span></i>
                </p>
                <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">&nbsp;</span></i>
                </p>
                <p class="MsoNormal"><b><u><span lang="ES-TRAD">Programa Viernes 14 de Julio</span></u></b><b><span lang="ES-TRAD">:&nbsp;</span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">Morada del Colibrí&nbsp;</span></b><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">10AM</span></b><b><span lang="ES-TRAD"></span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Checkout de los huéspedes que&nbsp;<u>NO</u>&nbsp;se hospedarán en la Morada del Colibrí durante el encuentro.</span><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">12PM-2PM</span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Checkin de los huéspedes que se hospedan en la Morada del Colibrí durante el encuentro.&nbsp;</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Acreditaciones.</span><span lang="ES-TRAD"></span>
                </p>
                </span><span class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-"><p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"></span><span lang="ES-TRAD"></span><span lang="ES-TRAD"></span><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">Nota: los huéspedes del Ashram deben entregar su equipaje durante las acreditaciones. El equipaje sube al Ashram antes y estará dispuesto es sus habitaciones. &nbsp;</span></i>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">5PM&nbsp;</span></b><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Reunión informativa.</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">Cuenca</span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">7-9</span></b><b>:30</b><b><span lang="ES-TRAD">PM&nbsp;</span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Taller con Russill Paul abierto al público.&nbsp;</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">9:30PM&nbsp;</span></b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Salida de los huéspedes que se alojarán en el Ashram Caminantes del Amanecer.&nbsp;</span><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Descanso para los huéspedes de la Morada.</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><i><span lang="ES-TRAD">Nota: la cena no esta incluida. Tienen la opción de procurársela por cuenta propia previo a la subida al Ashram o adquirir algún refrigerio en la Fonda Lakshmi.</span></i><i><span lang="ES-TRAD"></span></i>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">Ashram Caminantes del Amanecer</span></b><span lang="ES-TRAD"></span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><span lang="ES-TRAD">10PM</span></b><b><span lang="ES-TRAD"></span></b>
                </p>
                </span>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Recepción de los huéspedes del Ashram.&nbsp;</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)">IV. INFORMACION ADICIONAL:</span></u></b><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)"></span></u></b>
                </p>
                <div>
                    <div class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-h5">
                        <p class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoListParagraphCxSpFirst" style="text-align:justify"><span lang="ES-TRAD">-<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span lang="ES-TRAD">El hospedaje en los espacios de la escuela contempla un depósito al momento de la acreditación de USD $20.00 (reembolsable al final del encuentro) en orden de resguardar las instalaciones de daños inesperados.&nbsp;&nbsp;</span>
                        </p>
                        <p class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle" style="text-align:justify"><span lang="ES-TRAD">-<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span lang="ES-TRAD">Tener presente que no se van a suministrar toallas para uso de los huéspedes durante las actividades. Por esta razón, es importante que la traigas contigo.&nbsp;</span>
                        </p>
                        <p class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle" style="text-align:justify"><span lang="ES-TRAD">-<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><b><span lang="ES-TRAD">La noche del 10 de Julio</span></b><span lang="ES-TRAD">&nbsp;esta incluida para los participantes con participación múltiple tanto en la Morada del Colibrí como en el Ashram. La alimentación durante este día NO esta incluida. Los huéspedes del Ashram tienen la opción de permanecer el día en el Ashram o bajar a Cuenca y retornar en la noche.&nbsp;<b>Deben informarnos su deseo al momento de la acreditación.</b>&nbsp; La Fonda Lakshmi contará con algunas opciones de comida este día.&nbsp;</span>
                        </p>
                        <p class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle" style="text-align:justify"><span lang="ES-TRAD">-<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><b><span lang="ES-TRAD">La noche del 14 de Julio</span></b><span lang="ES-TRAD">&nbsp;esta incluida para los participantes con participación múltiple tanto en la Morada del Colibrí como en el Ashram. La alimentación durante este día NO esta incluida. Solo para los huéspedes del Ashram esta incluido el desayuno. Todos los huéspedes deben prepararse para bajar a Cuenca en el transporte de la mañana ya que las actividades con Russill Paul comienzan en la ciudad esa tarde. &nbsp;</span>
                        </p>
                        <p class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoListParagraphCxSpLast" style="text-align:justify"><span lang="ES-TRAD">-<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span lang="ES-TRAD">Sugerimos la posibilidad de optar por un seguro médico de viaje que los cubra durante los días de las actividades. Si bien esto no es un requisito obligatorio para su participación, no es menos importante considerarlo como una opción.&nbsp;</span>
                        </p>
                        <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span>
                        </p>
                        <p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)">V. SUGERENCIAS PREVIAS</span></u></b>
                        </p>
                        <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Te acercamos una lista con todo lo que necesitas para tu participación:</span>
                        </p>
                        <p class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoListParagraphCxSpFirst"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Tu&nbsp;disposición de Amor y apertura de&nbsp;consciencia.</span>
                        </p>
                        <p class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">La&nbsp;determinación&nbsp;y la voluntad para realizar las actividades que se contemplan para ti.</span>
                        </p>
                        <p class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Ropa de abrigo e impermeable.</span>
                        </p>
                        <p class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Ropa blanca para ceremonias (al menos dos juegos por actividad).</span>
                        </p>
                        <p class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Zapatos cómodos de diario.</span>
                        </p>
                        <p class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Zapatos para paseo de montaña.</span>
                        </p>
                        <p class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Mat de yoga (<i>opcional</i>).&nbsp;</span>
                        </p>
                        <p class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Protector solar.</span>
                        </p>
                        <p class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Linterna.</span>
                        </p>
                        <p class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoListParagraphCxSpMiddle"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Artículos&nbsp;de higiene y medicamentos personales.&nbsp;</span>
                        </p>
                        <p class="m_-7625211022938017745gmail-m_-7318454620615373586m_3680181039953900628gmail-m_6340078782310760467m_-5261627408499984135gmail-MsoListParagraphCxSpLast"><span lang="ES-TRAD" style="font-family:Symbol;color:rgb(26,26,26)">·<span style="font-size:7pt;line-height:normal;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span lang="ES-TRAD" style="color:rgb(26,26,26)">Toalla de uso personal.&nbsp;</span>
                        </p>
                        <p class="MsoNormal"><i><span lang="ES-TRAD">&nbsp;</span></i>
                        </p>
                        <p class="MsoNormal"><i><span lang="ES-TRAD" style="color:rgb(26,26,26)">Nota: el Ashram dispone de la fonda Lakhsmi en donde&nbsp;podrás&nbsp;disponer de bebidas y refrigerios adicionales, así como souvenirs y objetos utilitarios.</span></i><span lang="ES-TRAD" style="color:rgb(26,26,26)"></span>
                        </p>
                        <p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)"><br></span></u></b>
                        </p>
                        <p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)"><br></span></u></b>
                        </p>
                        <p class="MsoNormal" style="text-align:justify"><b><u><span lang="ES-TRAD" style="color:rgb(227,108,10)">VI. INFORMACION DE CONTACTO Y LUGAR DE RECEPCION</span></u></b><b><u><span lang="ES-TRAD">&nbsp;</span></u></b><span lang="ES-TRAD">(de uso exclusivo para Iniciados y participantes del evento)&nbsp;</span>
                        </p>
                        <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Morada del Colibrí</span><span lang="ES-TRAD"></span>
                        </p>
                        <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Dirección: Av. Paucarbamaba 2-24 y Manuel J. Calle, Cuenca.</span><span lang="ES-TRAD"></span>
                        </p>
                        <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Teléfono:&nbsp;<a href="tel:+593%207-281-0132" value="+59372810132" target="_blank">+59 3 7 2810132</a></span><span lang="ES-TRAD"></span>
                        </p>
                        <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span>
                        </p>
                        <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Cualquier duda o comentario, no dudes en escribirnos a&nbsp;<a href="mailto:eventos@evdsky.com" target="_blank">EVENTOS@EVDSKY.COM</a>.</span><span lang="ES-TRAD"></span>
                        </p>
                        <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">&nbsp;</span><span lang="ES-TRAD"></span>
                        </p>
                        <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">Que tu viaje hacia estas montañas sea auspicioso.&nbsp;</span>
                        </p>
                        <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD"><br></span>
                        </p>
                    </div>
                </div>
                <p class="MsoNormal" style="text-align:justify"><span lang="ES-TRAD">¡Te estamos esperando!</span>
                </p>
                <p class="MsoNormal" style="text-align:justify"></p>
                <p class="MsoNormal" style="text-align:justify">
                    <br>
                </p>
                <p class="MsoNormal" style="text-align:justify">En Amor y Servicio,&nbsp;</p>
                <p class="MsoNormal" style="text-align:justify">
                    <br>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b>Coordinación de Eventos,</b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><b>Escuela Valores Divinos</b>
                </p>
                <p class="MsoNormal" style="text-align:justify"><a href="http://www.escuelavaloresdivinos.org/eventos" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.escuelavaloresdivinos.org/eventos&amp;source=gmail&amp;ust=1498762690509000&amp;usg=AFQjCNG79iBvY-b4QqNRyR5XksOvoWEhdA">www.escuelavaloresdivinos.org/<wbr>eventos</a>
                </p>
                <p class="MsoNormal" style="text-align:justify"><a href="mailto:eventos@evdsky.com" target="_blank">eventos@evdsky.com</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>