- model_class = Booking
.page-header
  h1=t '.title', :default => [:'helpers.titles.new', 'Nueva %{model}'], :model => model_class.model_name.human.titleize
= render :partial => "search_form", locals: {method: 'post'}
